body {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #222222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 350px; /* Aumenta um pouco o tamanho */
}

    .login-container h2 {
        margin-bottom: 20px;
    }

    .login-container input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
    }

    .login-container button {
        width: 100%;
        padding: 12px;
        background-color: #0099ff;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-container button:hover {
            background-color: #0077cc;
        }

    .login-container a {
        display: block;
        margin-top: 10px;
        color: #0099ff;
        text-decoration: none;
    }

        .login-container a:hover {
            text-decoration: underline;
        }
