@{
    ViewData["Title"] = "Início";
    Layout = "_Layout";
}

<section class="movies-grid">
    <article class="movie-card">
        <img src="https://s2.glbimg.com/szb1-_IWvdZoDm1mjIXZkgs8Ze8=/e.glbimg.com/og/ed/f/original/2018/02/22/annihilation_vertical-main_pre_bpo.jpg" alt="Aniquilação">
        <h2>Aniquilação</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=4VHhUYx8mQ4" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2019/12/17/modaaviaovertical150020191216-6437-oi4ux3.jpg" alt="Modo Avião">
        <h2>Modo Avião</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=aywJ39-0l9I" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://i.pinimg.com/236x/59/60/ec/5960ecfab13c2b17fc1ab6fda09a9eae.jpg" alt="Lucifer">
        <h2>Lucifer</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=X4bF_quwNtw" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://cinema10.com.br/upload/filmes/filmes_15843_resgate-2-filme-poster-chris-hemsworth.jpg?default=poster" alt="Resgate 2">
        <h2>Resgate 2</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=7ZzP1vgk5nA" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://www.papodecinema.com.br/wp-content/uploads/2022/12/20221220-natal-outra-vez-papo-de-cinema-cartaz.png" alt="Natal Outra Vez?">
        <h2>Natal Outra Vez?</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=nHItHG4fdH4" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://cinema10.com.br/upload/featuredImage.php?url=https%3A%2F%2Fcinema10.com.br%2Fupload%2Ffilmes%2Ffilmes_15606_113.jpg" alt="Cidade Perdida">
        <h2>Cidade Perdida</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=d1UyjBcLODw" target="_blank" class="btn-trailer">Trailer</a>
    </article>
    <article class="movie-card">
        <img src="https://cinema10.com.br/upload/filmes/filmes_1485_110.jpg?default=poster" alt="Pânico">
        <h2>Pânico</h2>
        <a href="#" class="btn-avaliar">Avaliar</a>
        <a href="https://www.youtube.com/watch?v=swzTZ2mQypM" target="_blank" class="btn-trailer">Trailer</a>
    </article>
</section>

<!-- Popup de Avaliação -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="fechar-popup">&times;</span>
        <h3>Avalie o filme</h3>
        <div class="rating">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
        </div>
        <p id="rating-value">Nota: 0</p>
        <textarea id="reviewText" placeholder="Escreva seu comentário..."></textarea>
        <button onclick="submitReview()">Enviar</button>
    </div>
</div>
